Body {
     font-family: 'Oswald', sans-serif;
     font-size: 18px;
     line-height: 1.4;
     background-color:white
     }



#container {
            width: 500;
            
           
        }

a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: grey;
}

/* selected link */
a:active {
    color: light gainsboro;
}







/* command test */
